spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sportsgeekdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 10MB
      max-request-size: 15MB

server:
  port: 8081


## MULTIPART (MultipartProperties)
# Enable multipart uploads
db:
  queries:
    listAllBetOnPlayers: "SELECT b.BetPlayerId as BetPlayerId, u.UserId as UserId, m.MatchId as MatchId, b.TotalGamePoints as TotalGamePoints FROM BetOnPlayer as b INNER JOIN User as u on b.UserId = u.UserId INNER JOIN Matches as m on b.MatchId = m.MatchId"
    listAllBetPlayer: "SELECT * FROM BetOnPlayer"